server {
	listen 80 default_server;
	listen [::]:80 default_server;
	root /opt/tachyonic/www;
	index index.html index.htm index.nginx-debian.html;
	server_name _;
	location / {
		include proxy_params;
		proxy_redirect off;
		proxy_pass http://unix:/opt/tachyonic/www/subscriber/wsgi.sock:/;
		proxy_set_header Host $host;
	}
}
